body {
    background-color: rgb(32, 33, 36);
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 100px;
    padding: 20px;
    padding-left: 200px;
    box-sizing: border-box;
}

/* main navbar */

.nav {
    display: flex;
    justify-content: center;
    background: rgb(1, 95, 1);
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgb(8, 221, 8);
    width: 0%;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav li a:hover:before {
    width: 100%;
}

/* side nav */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(1, 95, 1);
    padding-top: 100px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: block;
    position: relative;
}

.sidenav a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgb(8, 221, 8);
    width: 0%;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.sidenav a:hover:before {
    width: 100%;
}

.main {
    margin-left: 250px;
    padding: 20px;
}
