h1 {
    margin: 50px;
}
 
/* Voorbeeld 1 */

 .voorbeeld-1 {
     width: 300px;
     height: 300px;
     margin: 100px;
     background: rgb(241, 48, 48);
     color: rgb(241, 48, 48);
     transition-duration: 500ms;
     transition-timing-function: ease-in-out;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font: bold;
     font-size: larger;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .voorbeeld-1:hover {
     background: rgb(40, 40, 250);
     transform: rotate(45deg);
     font-size: xx-large;
 }

 .p-1 {
     transform: rotate(315deg);
 }

 /* Timing fuction */

 .box2 {
    margin: 100px;
 }

 .box-1 {
    background-color: rgb(0, 255, 255);
    color: white;
    width: 200px;
    height: 200px;
 }

 .box-2 {
    background-color: rgb(94, 238, 238);
    color: white;
    width: 200px;
    height: 200px;
 }

 .box-3 {
    background-color: rgb(31, 189, 189);
    color: white;
    width: 200px;
    height: 200px;
 }

 .box-4 {
    background-color: rgb(2, 109, 109);
    color: white;
    width: 200px;
    height: 200px;
 }

 