body {
    background-color: rgb(32, 33, 36);
}


h1 {
    margin: 50px;
    font: bold;
    color: white;
}

.section-1 .button {
    width: 50px;
    height: 50px;
    margin: 100px;
    /* position: relative;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none; */
}

/* Section 1 */

.hs1 {
    margin: 150px;
    font: bold;
    color: white;
}

.voorbeeld-1 {
    width: 300px;
    height: 300px;
    margin: 100px;
    background: rgb(241, 48, 48);
    color: #f13030;
    transition-duration: 1000ms;
    /* transition-delay: 500ms; */
    transition-timing-function: cubic-bezier(0.71, -0.75, 0.22, 1.08);
    transition-property: transform, background, width, font-size;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: bold;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.voorbeeld-1:hover {
    background: rgb(40, 40, 250);
    transform: rotate(45deg);
    font-size: xx-large;
    font: bold;
}

.p-1 {
    transform: rotate(315deg);
}

/* Section 2 */

.box {
    width: 200px;
    height: 200px;
    transition-duration: 2s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 {
    margin: 100px;
}

.section-2:hover {
    width: 600px;
}

.one {
    background-color: rgb(0, 255, 255);
    color: white;
    width: 200px;
    height: 200px;
    transition-timing-function: linear;
    transition-property: width, background;
    transition-duration: 500ms;
}

.one:hover {
    width: 600px;
    background-color: rgb(31, 189, 189);
}

.two {
    background-color: rgb(94, 238, 238);
    color: white;
    width: 200px;
    height: 200px;
    transition-timing-function: ease-in;
    transition-property: width, background;
    transition-duration: 1000ms;
}

.two:hover {
    width: 600px;
    background-color: rgb(2, 109, 109);
}

.three {
    background-color: rgb(31, 189, 189);
    color: white;
    width: 200px;
    height: 200px;
    transition-timing-function: ease-out;
    transition-property: width, background;
    transition-duration: 1000ms;
}

.three:hover {
    width: 600px;
    background-color: rgb(0, 255, 255);
}

.four {
    background-color: rgb(2, 109, 109);
    color: white;
    width: 200px;
    height: 200px;
    transition-timing-function: ease-in-out;
    transition-property: width, background;
}

.four:hover {
    width: 600px;
    background-color: rgb(94, 238, 238);
}

/* Section 3 */

.section-3 {
    display: flex;
    flex-direction: column;
    margin: 100px;
    font: bold;
    /* align-items: center;
    justify-content: center;
    background: rgb(48, 49, 51); */
}

.nav-links {
    display: flex;
    align-items: center;
    background: rgb(48, 49, 51);
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
}

.nav-links li a {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4 ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}






/* try out voorbeeld 1 */


/* try out voorbeeld 2 */


/* try out voorbeeld 3 */
